$base: (
    background: linear-gradient(to bottom right,#B7CADB, #54BAB9)
);

$cookie: (
    background: #C19277,
    spots: #483434,
    chocolate: #3C2A21,
    chocoSpots: #FFF8EA,
    red-velvet: red
);

$upgrades: (
    background: whitesmoke
);

$save: (
    background: #645CBB,
    color: whitesmoke
);

