@use '../../abstracts/colors';

.score {
    font-size: 500%;
    color: map-get(colors.$cookie, "spots");
    font-weight: 300;
    background: whitesmoke;
    padding: 1.5rem;
    border-radius: 1rem;
    width: 40%;
    min-width: min-content;
    display: flex;
    justify-content: center;
}